[Unit]
Description=Synchronize Dovecot authentication credentials
After=dovecot.service

[Service]
Type=oneshot
User=root
UMask=0027
ExecStart=/usr/local/bin/dovecot-credential-sync
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dovecot-credential-sync
