#!/bin/bash

# The script is copied into the charm and executed as a service
# shellcheck disable=SC2034
inotifywait -mr /etc/postfix \
    --include /etc/postfix/relay_access \
    --include /etc/postfix/relay_recipient \
    --include /etc/postfix/restricted_recipients \
    --include /etc/postfix/restricted_senders \
    --include /etc/postfix/sender_login \
    --include /etc/postfix/transport \
    --include /etc/postfix/virtual_alias \
    -e close_write -e create -e delete -e move --format '%w%f %e' | while read -r file event; do
        juju-exec {{unit_name}} JUJU_DISPATCH_PATH='hooks/config-changed' ./dispatch
done
